// Color Schema
$bgColor: #1A1A1A;
$primaryColor: #F4DC2E;
$lightColor: white;
$fontColor: white;

// + Navigation Color
$navItemColor: black;

// Font Styling
$base-font-size: 14px;
$base-line-height: $base-font-size * 1.5;

// Grid System
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$gutter-padding: $gutter-width;


