// Vendor

@import "vendor/normalize";
@import "compass";
@import "susy"; // Grid System

// Settings

@import "settings";

/**
 * Styling Rule
 *
 * Position > Container > Size > Color / Font > Animate >  Misc
 */

// Web Fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans");

// Base
@import "base";

// Module
@import "module/page";
@import "module/button";

// Layout
@import "layout/header";
@import "layout/navigation";
@import "layout/content";
@import "layout/about";
@import "layout/schedule";
