/**
 * About Page
 */

#about {
  p {
    @include adjust-font-size-to(18px, 1.5, 14px);
  }

  dd {
    margin: 0;
  }

  .time, .location {
    @include adjust-font-size-to(24px);
  }

  h2 {
    @include rhythm(0.25, 0.25, 0.25, 0.25);

    background: $primaryColor;
    color: $bgColor;

    font-weight: normal;
    text-align: center;
  }
}

#host {
  .hosts {
    max-height: 150px;
    @include rhythm(0.5, 0.25, 0.25, 0);

    text-align: center;
    vertical-align: middle;

    @include isolate-grid(4);

    @include at-breakpoint($tablet) {
      @include isolate-grid(8);
    }

    @include at-breakpoint($pc) {
      @include isolate-grid(4);
    }
  }

  .align-base {
    display: inline-block;
    height: 140px;
    width: 1px;
    vertical-align: middle;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }
}
