/**
 * Header
 */

#header {
  position: absolute;
  z-index: 100;

  @include clearfix;
  width: 100%;

  @include transition(0.3s ease-in-out);

  &.home {
    top: 50%;
    margin-top: -3.5em;

    width: 100%;
  }
}

#logo {

  float: right;
  width: 35%;

  a {
    display: block;
    width: image-width("logo.png");
    height: image-height("logo.png");
    margin-left: 1em;

    @include background(image-url("logo.png") no-repeat);
    @include hide-text;
  }
}
