/**
 * Header
 */

#header {
  @include clearfix;

  &.home {
    position: absolute;
    top: 50%;
    margin-top: -3.5em;

    width: 100%;
  }
}

#logo {

  float: right;
  width: 35%;

  a {
    display: block;
    width: image-width("logo.png");
    height: image-height("logo.png");
    margin-left: 1em;

    @include background(image-url("logo.png") no-repeat);
    @include hide-text;
  }
}
