/**
 * Header
 */

#header {

  @include clearfix;
  width: 100%;

  @include transition(0.3s ease-in-out);

  &.home {
    margin-top: 3.5em;
  }

  @include at-breakpoint($pc) {
    position: absolute;
    z-index: 100;

    &.home {
      top: 50%;
      margin-top: -3.5em;

      width: 100%;
    }
  }
}

#logo {

  a {
    display: block;
    width: image-width("logo.png");
    height: image-height("logo.png");

    margin: 0 auto;

    @include background(image-url("logo.png") no-repeat);
    @include hide-text;
  }

  @include at-breakpoint($pc) {
    float: right;
    width: 35%;

    a {
      margin: 0;
      margin-left: 1em;
    }
  }
}
