/**
 * Navigation
 */

#main-menu {
  float: left;
  width: 65%;
  @include leader(2);

  background: $primaryColor;

  a {
    display: block;

    padding: 0.5em;
    @include rhythm(0, 0.5, 0.5, 0);

    color: $navItemColor;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
  }

  ul {
    float: right;
    padding-left: 0;
    padding-right: 1em;
    @include rhythm(0, 0, 0, 0);

    @include adjust-font-size-to(18px);
    &.left {
      float: left;
    }
  }

  li {
    float: left;

    text-transform: uppercase;
    list-style: none;

    &:hover {
      background: lighten($primaryColor, 25%);
      @include transition(0.5s ease-in);
    }
  }
}

#apply-now {
  position: relative;

  background: $lightColor;

  &:after {
    position: absolute;
    top: 0;
    left: 100%;

    display: block;
    width: 0;
    height: 0;

    content: " ";
    border: 1.85em solid transparent;
    border-left: 2em solid $lightColor;
    }

    &:hover {
      &:after {
        border-left: 2em solid lighten($primaryColor, 25%);
        @include transition(0.5s ease-in);
      }
    }
}
