/**
 * Rules Page
 */

#rules {
  dt {
    display: block;

    @include rhythm(0.5, 0.5, 0.5, 0.5);
    background: $primaryColor;
    color: $bgColor;

    text-align: center;
  }

  dd {
    margin: 0;
    text-align: center;
  }

  .label {
    display: inline-block;

    padding-left: 1em;
    margin-right: 1em;

    @include rhythm(0.25, 0, 0, 0.25);

    border: 1px solid $primaryColor;

    background: $primaryColor;
    color: $bgColor;
  }

  .score {
    display: inline-block;

    padding: 0.5em;
    margin-left: 0.5em;
    @include rhythm(0, 0.15, 0.15, 0);

    background: $bgColor;
    color: $fontColor;

    @include at-breakpoint($tablet) {

    }
  }
}
