/**
 * Schedule
 */

#schedule {

  h2 {
    @include rhythm(1, 0.25, 0.25, 0.25);

    background: $primaryColor;
    color: $bgColor;

    text-align: center;
    font-weight: normal;
  }

  ol {
    padding: 0;
    margin: 0;
  }

  li {
    @include trailer(0.5);

    @include adjust-font-size-to(16px);

    list-style: none;

    &:hover {
      background: lighten($bgColor, 5%);

      @include transition(1s ease-out);

      .time {
        background: $primaryColor;
        color: $bgColor;

        @include transition(0.5s ease-out);
      }
    }
  }

  .location {
    @include clearfix;
  }

  .time {
    position: relative;

    display: inline-block;
    padding: 1em;
    margin-right: 1em;
    @include rhythm(0, 0.1, 0.1, 0);

    border: 1px solid $primaryColor;
    // background: $primaryColor;
    // color: $bgColor;

    @include adjust-font-size-to(14px);
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;

    /*
    &:after {
      position: absolute;
      top: 100%;
      left: 50%;

      content: "";

      display: block;
      width: 0;
      height: 0;

      margin-left: -0.5em;

      border: 0.5em solid transparent;
      border-top: 0.5em solid darken($primaryColor, 15%);
    }
    */
  }

  .item {
    display: inline;
  }

  @include at-breakpoint($tablet) {
    .column-left, .column-right {
      @include span-columns(8);
    }
  }

  @include at-breakpoint($pc) {
    .column-left {
      @include span-columns(6);
    }

    .column-right {
      @include span-columns(6 omega);
    }
  }

}
