<article class="column-full">
  <h2>主題</h2>
    <p>本次活動的主題為「變法圖強」，取自清末維新運動中康有為提出的口號，希望能透過改善現有的制度，以健全社會的運作。在本活動中，我們希望讓學生著手改善自己在學習環境中缺少或是未臻完善的事物，並透過實作讓相關單位了解學生的訴求，以達到透過寫程式改造教育的目的。</p>
</article>
<article class="column-full">
  <h2>作品類型</h2>

  <dl>
    <dt>資訊類</dt>
    <dd>統整校園相關資訊或規章，藉由程式處理、分析，降低學生存取的門檻。如：學校法規整理、獎學金資訊整理、活動資訊等。</dd>
    <dt>平台類</dt>
    <dd>提供學生分享學習、課程或是書籍等資訊，藉由建立平台使學生得以互相交流。如：二手書與文具交易平台、課業交流平台等。</dd>
    <dt>系統類</dt>
    <dd>設計校園環境中會使用到之資訊系統。如：選課模擬系統、課程即時回饋系統或是師生互動系統等。</dd>
    <dt>增益類</dt>
    <dd>以目前學校既有之資訊平台、系統加以改善，如美化界面、提昇使用經驗、資訊系統導覽等。</dd>
  </dl>
</article>
<article class="column-full">
  <h2>評分標準</h2>
  <p>
    <span class="label">創意表現<span class="score">20%</span></span>
    <span class="label">技術難易度<span class="score">20%</span></span>
    <span class="label">作品完成度<span class="score">20%</span></span>
    <span class="label">作品展現<span class="score">20%</span></span>
    <span class="label">評審印象<span class="score">20%</span></span>
  </p>
</article>
<article class="column-full">
  <h2>競賽說明</h2>

  <ul>
    <li>本活動每場限制最多五十人參與，報名後工作人員將於兩天之內以 E-Mail 的方式確認。</li>
    <li>本活動作品不限制任何平台及工具，但是作品之主題需要環繞學生議題為主（如：選課輔助、數位學習、考古題交流等），故參與本活動前需事先提供作品名稱及簡介給主辦單位審核。</li>
    <li>每隊禁止使用以完成之作品參加比賽，但可以事先準備所需之素材。</li>
    <li>本活動全程使用 github 系統繳交作品原始程式碼至指定的群組下，隊伍中的隊員需事先申請 github 帳號以方便作業。</li>
    <li>每隊需於最後上台展示成果，每隊展示 5 ~ 10 分鐘，並由評審提問。</li>
  </ul>
</article>
<article class="column-full">
  <h2>獎項</h2>

  <dl>
    <dt>第一名</dt>
    <dd>CyberLink PowerDirector 一套、大同復古小電扇一組<sup>大同場限定</sup></dd>
    <dt>第二名</dt>
    <dd>CyberLink PowerDirector 一套、大同紀念小電鍋一組<sup>大同場限定</sup></dd>
    <dt>第三名</dt>
    <dd>CyberLink PowerDirector 一套、大同紀念電鍋鬧鈴一組<sup>大同場限定</sup></dd>
    <dt>佳作兩名</dt>
    <dd>CyberLink PowerDirector 一套、大同矽膠收納盒一組<sup>大同場限定</sup></dd>
    <dt>Yahoo 特別獎數名</dt>
    <dd>Yahoo 精美贈品</dd>
  </dl>
  <hr />
  <p>
    獲選佳作以上之得獎者，可獲得 SITCON 門票優先搶票權。
  </p>
  <p>
    獲選佳作以上之得獎者，有機會獲得叡楊資訊優先工作機會以及優秀作品簽約。
  </p>
  <p>
    大同相關獎品，僅限大同場可獲得。
  </p>
</article>
