<article class="column-full">
  <h2>主題</h2>
    <p>本次活動的主題為「八月風暴」，取自1986 年發生於法國的五月風暴，因學生要抗議教育制度僵化等問題，使學生開始佔領校園，並進行長期抗議，希望政府能夠重視並改進教育制度。在本活動中，我們希望讓學生著手改善自己在學習環境中缺少或是未臻完善的事物，並透過實作讓相關單位了解學生的訴求，以達到透過寫程式改造教育的目的。</p>
</article>
<article class="column-full">
  <h2>作品類型</h2>

  <dl>
    <dt>資訊類</dt>
    <dd>統整校園相關資訊或規章，藉由程式處理、分析，降低學生存取的門檻。如：學校法規整理、獎學金資訊整理、活動資訊等。</dd>
    <dt>平台類</dt>
    <dd>提供學生分享學習、課程或是書籍等資訊，藉由建立平台使學生得以互相交流。如：二手書與文具交易平台、課業交流平台等。</dd>
    <dt>系統類</dt>
    <dd>設計校園環境中會使用到之資訊系統。如：選課模擬系統、課程即時回饋系統或是師生互動系統等。</dd>
    <dt>增益類</dt>
    <dd>以目前學校既有之資訊平台、系統加以改善，如美化界面、提昇使用經驗、資訊系統導覽等。</dd>
    <dt>其他類</dt>
    <dd>任何能改善學生學習品質之議題。</dd>
  </dl>
</article>

<div class="column-full text-centered">
  <a href="introduction.pdf" target="_blank" title="簡章下載" class="button large">簡章下載</a>
</div>
