<article class="column-full">
  <h2>主題</h2>
    <p>本次活動的主題為「八月風暴」，取自1986 年發生於法國的五月風暴，因學生要抗議教育制度僵化等問題，使學生開始佔領校園，並進行長期抗議，希望政府能夠重視並改進教育制度。在本活動中，我們希望讓學生著手改善自己在學習環境中缺少或是未臻完善的事物，並透過實作讓相關單位了解學生的訴求，以達到透過寫程式改造教育的目的。</p>
</article>


<article class="column-full">
  <h2>活動時間</h2>
  <p>本次活動從 2014/8/2 至 2014/8/3 共 32 小時</p>
  <h2>活動內容：</h2>
  <p>若您對學校之校園系統、教學平台或是資訊相關等系統有任何不滿意，或是學校沒有提供你想要的服務，就跟好朋友一同組隊來參加吧！</p>

  <h2>我可以做什麼？</h2>
  <p>首先先依據我們所給予的作品類別（見下方）找出想要做的專案，在本次活動中，將學生們應該獲得的資訊加以整理，建立完整應用程式，並公開於網路上供大家參考，提供不同學校、科系去一同開發。</p>

  <p>本次活動也歡迎將自己未完成的專案帶來開發！</p>

  <h2>誰可以參加？</h2>
  <p>任何在學學生皆可以參加！</p>

  <h2>我想不到要做什麼，該怎麼辦？</h2>
  <p>可以參考過去 HackGen 所製作的專案，也可以使用原先的專案加以改進<p>

  <p>過去開發的專案請見：<a class='mlink' href='https://github.com/hackgen'>https://github.com/hackgen</a><p>

  <p>其他的學校也有相關的作品，如：</p>
  <ul>
    <li>台科大選課模擬系統：<a class='mlink' href='http://ntust.cc/'>http://ntust.cc/</a></li>
    <li>台科防爆網：<a class='mlink' href='http://ntust-bomb.org/'>http://ntust-bomb.org/</a></li>
    <li>大同大學校園資訊系統美化：<a class='mlink' href='https://github.com/TakeshiTseng/ttubeautifier'>https://github.com/TakeshiTseng/ttubeautifier</a></li>
    <li>校園無線網路自動登入：<a class='mlink' href='https://github.com/HackGen/TTU-WiFiAutoLogin'>https://github.com/HackGen/TTU-WiFiAutoLogin</a></li>
    <li>台科學生會票務助理：<a class='mlink' href='https://github.com/linroex/ntustsg-release-ticket-chrome-extension'>https://github.com/linroex/ntustsg-release-ticket-chrome-extension</a></li>
    <li>台大投票系統：<a class='mlink' href='https://github.com/mousems/NTUvote102-2'>https://github.com/mousems/NTUvote102-2</a></li>
  </ul>
</article>

<article class="column-full">
  <h2>作品類型</h2>

  <dl>
    <dt>資訊類</dt>
    <dd>統整校園相關資訊或規章，藉由程式處理、分析，降低學生存取的門檻。如：學校法規整理、獎學金資訊整理、活動資訊等。</dd>
    <dt>平台類</dt>
    <dd>提供學生分享學習、課程或是書籍等資訊，藉由建立平台使學生得以互相交流。如：二手書與文具交易平台、課業交流平台等。</dd>
    <dt>系統類</dt>
    <dd>設計校園環境中會使用到之資訊系統。如：選課模擬系統、課程即時回饋系統或是師生互動系統等。</dd>
    <dt>增益類</dt>
    <dd>以目前學校既有之資訊平台、系統加以改善，如美化界面、提昇使用經驗、資訊系統導覽等。</dd>
    <dt>其他類</dt>
    <dd>任何能改善學生學習品質之議題。</dd>
  </dl>
</article>

<div class="column-full text-centered">
  <a href="introduction.pdf" target="_blank" title="簡章下載" class="button large">簡章下載</a>
</div>
