  <% schedule.each do |day, task| %>
    <% column = day == "Day 1" ? "column-left" : "column-right" %>
    <article class="day <%= column %>">
      <header>
        <h2><%= day %></h2>
      </header>
      <ol>
      <% task.each do |time, item| %>
        <li><span class="time"><%= time %></span><div><%= item %></div></li>
      <% end %>
      <ol>
    </article>
  <% end %>
