<header class="hide">
  <h2>Sponsor</h2>
</header>
<div>
<% sponsors.each do |sponsor| %>
  <aside class="sponsor">
    <h3 class="hide"><%= sponsor['name'] %></h3>
    <%= link_to(image_tag(sponsor['logo'], :alt => sponsor['name']), sponsor['url'], :title => sponsor['name'], :target => "_blank") %>
  </aside>
<% end %>
</div>
