<% staff.each do |staff| %>
  <article class="staff">
    <h3 class="role"><%= staff["role"] %><span class="departement"> / <%= staff["departement"] %></span></h3>
    <p class="name"><%= staff["name"] %></p>
  </article>
<% end %>
