<!-- About Section -->
<section id="about" class="hide container page">
  <%= render :partial => 'about' %>
</section>
<!-- Rules -->
<section id="rules" class="hide container page">

</section>
<!-- Schedule -->
<section id="schedule" class="hide container page">

</section>
<!-- Sponsor -->
<section id="sponsor" class="hide container page">

</section>
<!-- Staff -->
<section id="staff" class="hide container page">

</section>
