<!-- About Section -->
<section id="about" class="page">
  <%= render :partial => 'about' %>
</section>
<!-- Rules -->
<section id="rules" class="page">

</section>
<!-- Schedule -->
<section id="schedule" class="page">
  <%= render :partial => 'schedule' %>
</section>
<!-- Sponsor -->
<section id="sponsor" class="page">

</section>
<!-- Staff -->
<section id="staff" class="page">
  <%= render :partial => 'staff' %>
</section>
