/**
 * Page Module
 */

.page {
  height: 0;

  @include opacity(0);

  &.active {
    height: auto;

    @include opacity(1);
    @include transition(0.5s ease-in);
  }
}

.column-full {
  @include span-columns(12);
}

.column-left {
  @include span-columns(6);
}

.column-right {
  @include span-columns(6 omega);
}

.text-centered {
  text-align: center;
}
