/**
 * Page Module
 */

.page {
  height: 0;
  overflow: hidden;

  @include opacity(0);

  &.active {
    height: auto;

    @include opacity(1);
    @include transition(0.5s ease-in);
  }
}

.column-full {
  @include span-columns(4);

  @include at-breakpoint($tablet) {
    @include span-columns(8);
  }

  @include at-breakpoint($pc) {
    @include span-columns(12);
  }
}

.column-left {
  @include span-columns(4);

  @include at-breakpoint($tablet) {
    @include span-columns(4);
  }

  @include at-breakpoint($pc) {
    @include span-columns(6);
  }
}

.column-right {
  @include span-columns(4);

  @include at-breakpoint($tablet) {
    @include span-columns(4 omega);
  }

  @include at-breakpoint($pc) {
    @include span-columns(6 omega);
  }
}

.text-centered {
  text-align: center;
}

// Comming Temp Style
.comming {
  text-align: center;
  font-family: "Open Sans", sans-serif;

  h2 {
    @include adjust-font-size-to(24px);
    font-weight: normal;
  }
}

.hide {
  display: none;
}
